
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

table {
  border-collapse: collapse;
  outline-color: purple;
  outline-style: solid;
}


  th, td {
    text-align: center;
    border: 1px solid black;
    border-style: dotted;
  padding: 5px;
  }
  
  th {
    background-color: red;
    color: white;
  }

  td:first-child {
    font-weight: bold;
    background-color: blue;
    color: white;
  }

  button {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }

  
  .randomColor {
    background-color: yellow;
  }